
@use "../../Global/variables.scss";

.day-table-container {
  @media screen and (min-width: 768px){
  .data-container{
  display: flex;
  margin: 50px auto;
  padding: 10px;
  max-width: 800px;
  border-radius: 8px;

  h3{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: variables.$text-color;
    
  }
 
    .subject-table {
      width: 100%;
      border-collapse: collapse;
    }
  
    .subject-table th,
    .subject-table td {
      text-align: center;
      padding: 10px;
      border: 1px solid variables.$text-color;
      color: variables.$text-color;
    }
  
    .subject-table th {
      background-color: variables.$contra-background;
    }
}
  }
@media screen and (max-width: 768px){
  .data-container {
    width: 100%;
    // display: flex;
    margin: 50px auto;
    padding: 10px;
    max-width: 800px;
    border-radius: 8px;
    h3{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    
  }
 
    .subject-table {
      width: 100%;
      border-collapse: collapse;
    color: variables.$text-color;

    }
  
    .subject-table th,
    .subject-table td {
      text-align: center;
      padding: 10px;
      border: 1px solid variables.$text-color;
      color: variables.$text-color;
    }
  
    .subject-table th {
      background-color: variables.$contra-background;
    }
}
}
}