////////COLORS////////////////
$active: #ff5722;
$pre-active: #ff562252;
$outline-one: #5a5a5a;
$text-color: #f3f3f3;
$background: #0e0e0e;
$contra-background: #242424;

///////ADJUSTMENTS//////
